<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Package visibility for apps that expose AppFunctions. -->
    <queries>
        <intent>
            <action android:name="android.app.appfunctions.AppFunctionService" />
        </intent>
    </queries>

    <application
        android:name=".NanoBotApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NanoBot">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NanoBot"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- run_privileged.sh starts this to give NanoBot the EXECUTE_APP_FUNCTIONS permission. -->
    <instrumentation
        android:name=".ShellIdentityInstrumentation"
        android:label="Shell Identity Instrumentation"
        android:targetPackage="com.hrithikvish.nanobot" />

</manifest>